*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.first{
    background-image: url("https://th.bing.com/th/id/R.42783c5c7c01a8ccafc9224b8a121680?rik=J1RnJbJyMOHGmg&riu=http%3a%2f%2fwallcoo.net%2fcartoon%2fAbstract_Blue_backgrounds_1920x1200%2fwallpapers%2f1920x1200%2fAbstract+Blue+backgrounds+37.jpg&ehk=lp3gPyInds1NODNZy63Rx4irWqP72Gw6imD%2fodLxP3c%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    max-width: 100%;
}

.second img{
    height: 100px;
    width:100px;
}
.second{
    width:100%;
    height:15vh;
    display: flex;
    align-items: center;
}
.logo{
    height: 100px;
    width:100px;
  
    display: flex;
    cursor: pointer;
}
nav{
    flex:1;
    padding-left: 10px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.first{
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.demo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main1 h1{
   text-align:justify;
  font-size: 55px;
  font-weight: 100;
  margin-top: 30px;
}
.main1 .btn{
  display: inline-block;
  background: linear-gradient(90deg,#be5ab9,#5c99b9);
  color:rgb(236, 234, 238);
  border-radius: 5px;
  padding:15px 50px;
  box-sizing: border-box;
  text-decoration: none;
}
.main2 .girl{
    height:100%;
    width: 100%;
    bottom:0;
    float: right;
}
.pictures .col img{
    padding-left: 0px;
    padding-right: 0px;
    border:2px solid #040404;
    border-radius: 10px;
    transition:0.2 ease;
}
.pictures .col:hover{
    box-shadow: 10px 20px 10px rgba(16, 12, 12, 0.16);
}
.footer.nine{
    position:absolute;
    bottom:400px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.nine a{
   position: relative;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  background: transparent;
  border: 2px solid #67b6d5;
  border-radius:50%;
  font-size:20px;
  color:rgb(100, 176, 212);
  text-decoration: none;
  z-index:1;
  overflow:hidden;
}
.nine a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: #c9edf8;
    z-index: -1;
    transition: .5s;
}
.nine a:hover::before{
 width:100%;
}
.pictures{
    margin:70px 0;
}
.col{
    display:inline-block;
    justify-content: space-around;
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.col img{
    object-fit: fill;
    margin: auto;
    width:250px;
    height: 200px;
    justify-content: space-between;
    cursor:pointer;
    padding: 0;
    padding-left: 80px;
    padding-right: 70px;
}
.hii{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
.logos{
    display: inline-block;
    flex: auto;
    justify-content: space-around;
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}
.logo1{
    float:left;
    padding-left:190px;
    padding-right: 0px;
}
.logo1 img{
    width:120px;
    height:120px;
    cursor:pointer;
    filter: grayscale(100);
}
.logo1 img:hover{
    filter: grayscale(0);
}
.col2 img{
   width: 90px;
   height: 90px;
   border-radius: 50%;
}
.footer{
    color: aliceblue;
    background-color: #040404;
    display: flex;
    justify-content: space-between;
}
.col1 a{
    color: aliceblue;
    position: absolute;
    height: 200px;
    width: 200px;
}
.col1 a{
    position: relative;
   display:inline-flex;
   justify-content: center;
   align-items: center;
   width:40px;
   height:40px;
   background: transparent;
   border: 2px solid #67b6d5;
   border-radius:50%;
   font-size:20px;
   color:rgb(100, 176, 212);
   text-decoration: none;
   z-index:1;
   overflow:hidden;
 }
 .col1 a::before{
     content:'';
     position:absolute;
     top:0;
     left:0;
     width:0;
     height:100%;
     background: #c9edf8;
     z-index: -1;
     transition: .5s;
 }
 .col1 a:hover::before{
  width:100%;
 }
 .nine,.nine h3{
    padding-right: 100px;
 }
.col1 {
    padding:10px 70px;
 }
.container{
    margin: auto;
    width:50vmin;
    align-items: center;
    place-items:center;
    overflow: hidden;
    border:10px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.wrapper{
    width:100%;
    display: flex;
    animation:slide 10s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.container img{
    width:100%;
}